.navbar_container {
  height: 3rem;
  background-color: #2959ba;
  color: #fdfdfe;
}

.content_container {
  height: 100%;
  width: 85%;
  margin: auto;
}


/* ...............Media queries(Medium Device)........................ */
@media screen and (max-width: 1024px) {
  .content_container {
    width: 100%;
  }
}

/* ...............Media queries(Small Device)........................ */
@media screen and (max-width: 600px) {
}
