.contract_price_container {
  display: flex;
  margin-top: 2rem;
}
.contract_container {
  width: 40%;
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
}

.price_container {
  width: 60%;
}
